In [2]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(5,3),index=['a','c','e','f','h'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f','g','h'])
print("Original DataFrame with NaN\n",df)
print("\n")
print("Dropped DataFrame\n",df.dropna())
print("\n")

Original DataFrame with NaN
         one       two     three
a -0.688438 -0.893727 -0.243529
b       NaN       NaN       NaN
c -0.775684 -0.860447 -1.661958
d       NaN       NaN       NaN
e -0.561138  0.545595 -0.109976
f -0.549187 -0.773170  1.441681
g       NaN       NaN       NaN
h -0.412806 -0.443015  0.665410


Dropped DataFrame
         one       two     three
a -0.688438 -0.893727 -0.243529
c -0.775684 -0.860447 -1.661958
e -0.561138  0.545595 -0.109976
f -0.549187 -0.773170  1.441681
h -0.412806 -0.443015  0.665410

In [6]:
df=pd.DataFrame(np.random.randn(3,3),index=['a','c','e'],columns=['one','two','threew'])
df=df.reindex(['a','b','c'])
print("Original DataFrame:\n",df)
print("\n")
print("NaN replaced with '0':\n")
print(df.fillna(0))

Original DataFrame:
         one       two    threew
a  0.440053  1.487600 -0.262953
b       NaN       NaN       NaN
c  0.553404  0.536437 -0.672452


NaN replaced with '0':

        one       two    threew
a  0.440053  1.487600 -0.262953
b  0.000000  0.000000  0.000000
c  0.553404  0.536437 -0.672452

In [7]:
df=pd.DataFrame({'one':[10,20,30,40,50,2000],'tow':[1000,0,30,40,50,60]})
print("\nOriginal DataFrame:\n",df)
print("\n DataFrame with replaced values:\n")
print(df.replace({1000:10,2000:60,40:400,0:100}))
print(df.replace({1000:10,2000:60,40:400,0:100}))

Original DataFrame:
     one   tow
0    10  1000
1    20     0
2    30    30
3    40    40
4    50    50
5  2000    60

 DataFrame with replaced values:

   one  tow
0   10   10
1   20  100
2   30   30
3  400  400
4   50   50
5   60   60
   one  tow
0   10   10
1   20  100
2   30   30
3  400  400
4   50   50
5   60   60

In [8]:
df=pd.DataFrame(np.random.randn(5,3),index=['a','c','e','f','h'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f','g','h'])
print("\nOriginal DataFrame:\n",df)
print("\nNan-with true fill:\n")
print(df['one'].isnull())

Original DataFrame:
         one       two     three
a -0.389100 -0.326711  0.499384
b       NaN       NaN       NaN
c  0.769483 -0.321350  1.148800
d       NaN       NaN       NaN
e  0.811379 -1.304441  0.291939
f -0.238112 -0.668010 -0.442412
g       NaN       NaN       NaN
h -0.892656  1.300026 -0.721127

Nan-with true fill:

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [11]:
df=pd.DataFrame(np.random.randn(5,3),index=['a','c','e','f','h'],columns=['one','tow','three'])
df=df.reindex(['a','b','c','d','e','f','g','h'])
print("\nOriginal DataFrame:\n",df)
print("\nNaN-Filled with Froward values:\n")
print(df.fillna(method='pad'))
print("\nNaN-Filled with Background values:\n")
print(df.fillna(method='bfill'))

Original DataFrame:
         one       tow     three
a  0.676504 -1.606501  0.456131
b       NaN       NaN       NaN
c -0.154359  0.026121  1.864389
d       NaN       NaN       NaN
e  0.333644  1.102530 -0.126678
f -1.549565 -0.567318 -1.848548
g       NaN       NaN       NaN
h  0.745349  1.864914 -1.450915

NaN-Filled with Froward values:

        one       tow     three
a  0.676504 -1.606501  0.456131
b  0.676504 -1.606501  0.456131
c -0.154359  0.026121  1.864389
d -0.154359  0.026121  1.864389
e  0.333644  1.102530 -0.126678
f -1.549565 -0.567318 -1.848548
g -1.549565 -0.567318 -1.848548
h  0.745349  1.864914 -1.450915

NaN-Filled with Background values:

        one       tow     three
a  0.676504 -1.606501  0.456131
b -0.154359  0.026121  1.864389
c -0.154359  0.026121  1.864389
d  0.333644  1.102530 -0.126678
e  0.333644  1.102530 -0.126678
f -1.549565 -0.567318 -1.848548
g  0.745349  1.864914 -1.450915
h  0.745349  1.864914 -1.450915