In [5]:
import pandas as pd
d=pd.read_csv(r"C:\Users\Tcs\Documents\employees.csv")
print(d)

    First Name  Gender  Start Date Last Login Time  Salary  Bonus %  \
0      Douglas    Male    8/6/1993        12:42 PM   97308    6.945
1       Thomas    Male   3/31/1996         6:53 AM   61933    4.170
2        Maria  Female   4/23/1993        11:17 AM  130590   11.858
3        Jerry    Male    3/4/2005         1:00 PM  138705    9.340
4        Larry    Male   1/24/1998         4:47 PM  101004    1.389
..         ...     ...         ...             ...     ...      ...
995      Henry     NaN  11/23/2014         6:09 AM  132483   16.655
996    Phillip    Male   1/31/1984         6:30 AM   42392   19.675
997    Russell    Male   5/20/2013        12:39 PM   96914    1.421
998      Larry    Male   4/20/2013         4:45 PM   60500   11.985
999     Albert    Male   5/15/2012         6:24 PM  129949   10.169

    Senior Management                  Team
0                True             Marketing
1                True                   NaN
2               False               Finance
3                True               Finance
4                True       Client Services
..                ...                   ...
995             False          Distribution
996             False               Finance
997             False               Product
998             False  Business Development
999              True                 Sales

[1000 rows x 8 columns]

In [6]:
df=pd.DataFrame(d)
print("\nGet the column heading\n",df.columns)

Get the column heading
 Index(['First Name', 'Gender', 'Start Date', 'Last Login Time', 'Salary',
       'Bonus %', 'Senior Management', 'Team'],
      dtype='object')

In [7]:
print("\nGet the shape.(no.of row,no.of columns)\n",df.shape)

Get the shape.(no.of row,no.of columns)
 (1000, 8)

In [9]:
print("\nGet particular column values\n",df['Gender'])

Get particular column values
 0        Male
1        Male
2      Female
3        Male
4        Male
        ...
995       NaN
996      Male
997      Male
998      Male
999      Male
Name: Gender, Length: 1000, dtype: object

In [10]:
print("\nExtract/slice the table values.[including this row,excluding this row]\n",df[2:5])

Extract/slice the table values.[including this row,excluding this row]
   First Name  Gender Start Date Last Login Time  Salary  Bonus %  \
2      Maria  Female  4/23/1993        11:17 AM  130590   11.858
3      Jerry    Male   3/4/2005         1:00 PM  138705    9.340
4      Larry    Male  1/24/1998         4:47 PM  101004    1.389

  Senior Management             Team
2             False          Finance
3              True          Finance
4              True  Client Services

In [11]:
print("\nGet the particular row values-through row number identification\n",df.loc[4])

Get the particular row values-through row number identification
 First Name                     Larry
Gender                          Male
Start Date                 1/24/1998
Last Login Time              4:47 PM
Salary                        101004
Bonus %                        1.389
Senior Management               True
Team                 Client Services
Name: 4, dtype: object

In [12]:
print("\nGet the particular row values-through'Gender'identification\n",d.loc[d['Gender']==99])

Get the particular row values-through'Gender'identification
 Empty DataFrame
Columns: [First Name, Gender, Start Date, Last Login Time, Salary, Bonus %, Senior Management, Team]
Index: []

In [14]:
df=d['Salary']/5
print("\nMake an average of total marks:\n",df)

Make an average of total marks:
 0      19461.6
1      12386.6
2      26118.0
3      27741.0
4      20200.8
        ...
995    26496.6
996     8478.4
997    19382.8
998    12100.0
999    25989.8
Name: Salary, Length: 1000, dtype: float64